<%- include('../partials/boilerplate') %>

<div class="water-wrapper">
Drink some water! 
<a href="/water/new" class="buttonlike">Add your water intake!</a>
<% water.forEach(water => { <% 
<div class="water intake">
    <div class="title-status">
        <h3><%= water.title %></h3>
        <p><% if (todo.status) { %>
            Done
        <% } else { <%
        Not Done
    <% } %>            
    </div>
    <div class="category-actions">
        <h5><%= water.category %></h5>
        <div class="actions">
            <a class="buttonlike" href="/water/<%= water.id %>">Info</a>
            <a class="buttonlike" href="/water/<%= water.id/edit %>">Edit</a></div>
    </div>
</div>
<% }) %>

<%- include('../partials/end') %>