<%- include('../partials/boilerplate') %>

<div>
<h3>TITLE: <%- water.title %></h3>
<p>STATUS: <% if (water.status) { %>
Done
<% } else { %>
Not Done 
<% } %></p>

<p>AMOUNT: <%- water.amount %></p>

<form method="POST" action="/todos/<%= todo.id %>?_method=DELETE">
<input type="submit" value="delete this water log">
</form>

<a href="/water">Back to the main page!</a>

</div>
<%- include('../partials/end') %>